@import "tailwindcss";



:root {
    --main-color: #FFFEF7;
}

body{
    background-color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

@theme {
  --color-input-bg: #F9F9F2; 
  --color-main-navy: #001F3F;
  --color-second-cream: #F5F5DC;
  
  --size-sidebar: 12.5rem;
}

@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-start ps-5
        h-12 w-full mt-2 mb-2 mx-auto gap-3
        hover:bg-second-cream  hover:text-main-navy
        transition-all duration-300 ease-linear
    }
    .sidebar-icon-active{
        @apply bg-second-cream text-main-navy
    }
    
}

@layer utilities{
    .w-sidebar{
        width: var(--size-sidebar);
    }
    .ml-sidebar{
        margin-left: var(--size-sidebar);
    }
}